body {
    background: #1eB0d7;
    font-family: tahoma;
    font-size: 11px;
    width: 1000px;
    margin: auto;
}

#logo {
    background: url(/css/imagen/trabajadores.png)no-repeat right;
    background-size: 35%;
    padding: 20em 0em 0em 0em;
    text-transform: uppercase;
}

#logo h1 a {
    margin: 0em;
    padding: 0em 0em 0em 0em;
    letter-spacing: -.1em;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
}

#subtitulo {
    padding: 0em;
    margin-top: -1em;
    font-size: 2em;
    font-weight: bold;
    color: #bdf;
}

#imagen {
    width: 300px;
    height: 200px;
    margin-top: 0em;
    text-align: center;
}

#menu li {
    display: inline;
}

#menu li {
    display: block;
    float: left;
    margin-right: 0.12em;
    padding: 1em 1.5em;
    background: #178eae;
    box-shadow: inset;
    text-decoration: none;
    text-shadow: 1px 1px 0px #0c7490;
    text-transform: uppercase;
    font-size: .9oem;
    color: #ffffff;
}

#seccion {
    width: 1150px;
    padding: 20px;
    background: #ffffff;
    height: 290px;
}

#derecha {
    margin: -5px 20px 0px 0px;
    float: right;
    width: 65%;
    text-align: justify;
    color: #666666;
}

footer {
    text-align: center;
}

s