* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: black;
}

body {
    width: 750px;
    height: 750px;
    margin: auto;
    background-color: green;
}

header {
    width: 750px;
    height: 250px;
    background-color: white;
}

section#baner {
    width: 500px;
    height: 250px;
    float: left;
    background-color: grey;
}

section#logo {
    width: 250px;
    height: 125px;
    float: left;
    background-color: white;
}

section#logo {
    width: 250px;
    height: 125px;
    float: left;
    background-color: red;
}

nav {
    width: 750px;
    height: 50px;
    background-color: orange;
}

main {
    width: 750px;
    height: 400px;
    background-color: purple;
}

aside#left {
    width: 150px;
    height: 400px;
    float: left;
    background-color: palevioletred;
}

article {
    width: 500px;
    height: 400px;
    float: left;
    background-color: aquamarine;
}

section#arriba {
    width: 500px;
    height: 200px;
    background-color: wheat;
}

section#abajo {
    width: 500px;
    height: 200px;
    background-color: grey;
}

section#izq {
    width: 200px;
    height: 200px;
    float: left;
    background-color: rgb(83, 160, 211);
}

section#der {
    width: 300px;
    height: 200px;
    float: left;
    background-color: black;
}

section#wil {
    width: 200px;
    height: 200px;
    float: left;
    background-color: rgb(197, 167, 32);
}

section#gar {
    width: 300px;
    height: 200px;
    float: left;
    background-color: rgb(247, 230, 231);
}

aside#right {
    width: 100px;
    height: 400px;
    float: left;
    background-color: rgb(104, 35, 58);
}

footer {
    width: 750px;
    height: 50px;
    background-color: paleturquoise;
}