body {
    width: 95em;
    margin: 0 auto;
    padding: 0px;
}

header {
    background-image: url(/img/web.jpg);
    height: 151px;
}

#logo,
#titulo {
    float: left;
    margin: 0px;
    padding: 0px;
}

#logo,
img {
    width: 156px;
    height: 150px;
}

#titulo,
h1 {
    color: #FAEBD7;
    text-align: center;
    font-family: cursive;
    margin-left: 250px;
    padding: 20px 0px;
}

.nav-enlace {
    display: inline;
    background: #4682B4;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover {
    background: #2F4F4F;
}

nav {
    background-image: url(/img/fondoazul.jpg);
    padding: 10px;
    text-align: right;
}

#redes,
#datos {
    float: left;
    padding: 0;
    margin: 0;
}

#redes {
    width: 5em;
    padding-top: 17em;
    padding-right: 3em;
    padding-bottom: 385px;
    background-image: url(/img/fondo.jpg);
    margin-top: -40px;
    ;
}

#datos {
    width: 87em;
    text-align: center;
    padding-top: 1em;
    margin: 0px;
    background-color: whitesmoke;
}

.tabla1,
.tabla2 {
    float: left;
    margin: 0em 0em 0em 10em;
    padding: 0px;
}

.tabla1 {
    color: blue;
    background-color: white;
}

.tabla2 {
    color: blue;
    background-color: white;
}

footer {
    color: #000000;
    text-align: center;
    background-color: white;
    padding: 30px;
    margin-top: 100px;
}