body {
    background-color: darkcyan;
}

.nav-enlace {
    display: inline;
    background: salmon;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover {
    background: blue;
}

nav {
    padding: 10px 50px;
    text-align: right;
    margin-left: 1000px;
}

h1 {
    color: red;
    text-align: center;
    font-family: cursive;
    font-size: 40px;
}

#wil {
    color: blue;
    text-align: center;
    font-size: 18px;
}

.garcia {
    color: blue;
    text-align: center;
}

footer {
    color: brown;
    text-align: center;
    background-color: bisque;
    margin-left: 600px;
    margin-right: 600px;
}

ul {
    color: blue;
    text-align: center;
}

img {
    margin: 10px auto;
    display: block;
    border-radius: 50%;
}

#contactos {
    color: red;
    text-align: center;
}

#tabla {
    text-align: center;
    color: blue;
    margin-left: 600px;
}

#amigos {
    text-align: center;
    color: blue;
    margin-left: 600px;
}