body {
    background-color: aqua;
}

h1 {
    color: crimson;
    font-size: 30px;
    text-align: center;
    background-color: cornsilk;
}

section {
    color: blue;
    text-align: center;
}

footer {
    color: brown;
    text-align: center;
}

ul {
    color: blue;
    text-align: center;
}

img {
    margin: 10px auto;
    display: block;
}

a {
    text-align: center;
}