body {
    width: 95em;
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url(/img/web.jpg);
    height: 151px;
}

#logo {
    float: left;
    margin: 0px;
    padding: 0px;
}

#logo,
img {
    width: 156px;
    height: 150px;
}

h1 {
    color: rgb(241, 239, 233);
    text-align: center;
    font-family: cursive;
    padding: 50px 0px;
}

.nav-enlace {
    display: inline;
    background: #4682B4;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover {
    background: #2F4F4F;
}

nav {
    background-image: url(/img/fondoazul.jpg);
    padding: 10px;
    text-align: right;
}

#redes,
.datos {
    float: left;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

#redes {
    width: 7em;
    background-image: url(/img/fondo.jpg);
    margin-top: -39px;
    padding: 210px 0em;
}

#datos {
    text-align: center;
    color: rgb(20, 107, 179);
    background-color: whitesmoke;
    padding: 24px 25em;
    margin: 0px;
}

#wilmer,
img {
    border-radius: 50%;
}

footer {
    color: #000000;
    text-align: center;
    background-color: white;
    padding: 12px;
}