html {
    margin-left: 100px;
}

body {
    width: 1300px;
    height: 700px;
    margin: 0 auto;
    padding: 0px;
}

header {
    background-image: url(/img/web.jpg);
    height: 180px;
}

#logo {
    float: left;
    width: 200px;
    height: 700px;
}

#logo,
img {
    width: 200px;
    height: 180px;
}

#titulo,
h1 {
    color: rgb(241, 239, 233);
    text-align: center;
    font-family: cursive;
    padding: 50px 0px;
}

#datos {
    text-align: center;
    background-color: white;
}

.nav-enlace {
    display: inline;
    background: #4682B4;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover {
    background: #2F4F4F;
}

nav {
    background-image: url(/img/fondoazul.jpg);
    padding: 10px;
    text-align: right;
}

#redes {
    float: left;
    width: 100px;
    height: 500px;
    background-image: url(/img/fondo.jpg);
    padding-top: 200px;
}

#datos {
    float: left;
    width: 1200px;
    height: 500px;
    padding: 10px 10px;
}

#primera {
    width: 1200px;
    height: 250px;
}

#baños {
    float: left;
    width: 600px;
    height: 250px;
}

#bi {
    float: left;
    width: 200px;
    height: 250px;
}

#bp {
    float: left;
    width: 400px;
    height: 250px;
}

#santa {
    float: left;
    width: 600px;
    height: 250px;
}

#si {
    float: left;
    width: 200px;
    height: 250px;
}

#sp {
    float: left;
    width: 400px;
    height: 250px;
}

#segunda {
    width: 1200px;
    height: 250px;
}

#cumbe {
    float: left;
    width: 600px;
    height: 250px;
}

#ci {
    float: left;
    width: 200px;
    height: 250px;
}

#cp {
    float: left;
    width: 400px;
    height: 250px;
}

#granja {
    float: left;
    width: 600px;
    height: 250px;
}

#gi {
    float: left;
    width: 200px;
    height: 250px;
}

#gp {
    float: left;
    width: 400px;
    height: 250px;
}

#unc {
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: rgb(232, 241, 241);
    font-size: 10px;
}